body{
	text-align: center;
	background: url("../img/bkg.jpg") no-repeat fixed center;	
	font: 16px "Helvetica Nue";
	color: white;
}
h1, h2, h3, p, label {
	color: white;
}

.results, pre {
	float: left;
	border-radius: 35px;
	color: white;
	background: rgba(207,181,59, .5);
}
pre{
	clear: both;
	text-align: left;
}
