

/*  
Jana Nash-Siegle
SSL - Week 4 final

Colors
light blue - 87b7ed
dark grey - 91908f
creamy yellow = ffffc6
darker grey - 5d605d
brown - 715848 */


.display:after {
content: "";
display: table;
clear: both;
}

body{	
	background: url("../img/walnutBkg.jpg")  fixed center;	
	font: 20px "Helvetica Nue";
	overflow: hidden;
	color: white;
}
#clientList{
	text-align: center;
}
article#main{
	background-color: rgba(113, 88, 72, .6);
	border-radius: 30px;
}
form{
	float: left;
	padding: 40px;
	margin-left: 30px;	
}
label{
	display: inline-block;
	width: 100px;
}
input[type = 'text'], input[type = 'tel'], input[type = 'password'], input[type = 'file'], input[type = 'reset'], input[type = 'email'], input[type = 'url']{
	display: inline-block;
	border-radius: 10px;
	height: 30px;
	width: 200px;
	margin: 10px 0px;
	margin-right: 10px;
	font: 16px "Helvetica Nue";
	color: black;
	background: #ffffc6;
	border: 3px solid #715848;
}
input[type = 'file']{
	height: 20px;	
}
input[type = 'submit'], input[type = 'reset'] {
	float: right;
	border-radius: 20px;
	height: 30px;
	width: 100px;
	margin: 10px;
	font: 14px "helvetica Nue";
	color: #715848;
	background: #ffffc6;
	border: 3px solid #715848;
}

fieldset{
	position: relative;
}
legend{
	margin:10px 0;
	padding: 10px;
}
section.display{		
	margin: 100px auto;
	padding-bottom: 150px;
	display: table;		
}

th{
	padding: 5px;
}
td{
	border: 2px solid gray;
	padding: 10px;
}
tr:nth-child(odd){
	background-color: #91908f;	
	color: white;
}
tr:nth-child(even){
	background-color: #ffffc6;
	color: black;	
}
